/* body{
    display: contents;
  }
  
  
  .var{
     float: right;
    margin: 30px;
    
  }
  .a-1{
    color: black;
    margin: 10px;
    
    text-decoration: none;
  }
  
  .a-1:hover{
    text-decoration: underline;
  }
  
  .main{
  
    margin-top: 200px;
    text-align: center;
  }
  .main-1{
  margin-top: 30px;
    
  }
  .input-a{
    border-radius: 50px;
    border: 1px solid #c5c4c4;
    width: 560px;
    height: 38px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  
  .btn{
    border: 1px solid #e1dbdb;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e1dbdb;
    margin-right: 10px;
  }
  
  .btn:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f1efef;
  }
  
  .footer{
   position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dcd6d6;
  }
  
  .first{
    
    padding: 15px 30px;
    border-bottom: 1px solid #b1aaaa;
    color:#5f5d5d;
  }
  
  .second{
     padding: 15px 30px;
  }
  
  .a-2{
   color:#5f5d5d;
    text-decoration: none;
    padding-right: 20px;
  }
  
  .a-3{
    float: right;
  }
  .a-2:hover{
    text-decoration: underline;
  } */

body{
   
    
    display: contents;
  }

  .bar-contents{
    display: flex;
    justify-content: end
  }

  .mail{
    padding-top: 5px;
    margin-top: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    
  }

  .image-contents{
    padding-top: 5px;
    margin-right: 10px;
    margin-top: 15px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

.bar-contents a:hover{
    text-decoration: underline;
  }
  .main-area{
    margin-top: 120px;

  }
  .area{

    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .input-area{
    margin-top: 50px;
    border-radius: 50px;
    border: 1px solid #c5c4c4;
    width: 560px;
    height: 38px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .btn{
    border: 1px solid #e1dbdb;
    border-radius: 4px;
    width: 120px;
    height: 30px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e1dbdb;
    margin-right: 10px;
    font-size: 13px;
    text-align: center;
  }


  .btn:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f1efef;
  }

  .none-btn{
    display: none;
    width: 60px;
      height: 30px;
      border: 1px solid #e1dbdb;
      border-radius: 4px;
      font-family:Arial, Helvetica, sans-serif;
      background-color: #e1dbdb;
      margin-right: 10px;
      font-size: 13px;
      text-align: center;

  }
  .footer-area{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #dcd6d6;

  }

  .first{
    
    padding: 15px;
    padding-left: 30px;
 border-bottom:1px solid #b1aaaa;
 color: rgb(113, 113, 113);
 font-size: 15px;
  }

  .kr{
    display: none;
  }
  .second{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;

  }
  .second a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(113, 113, 113);
    padding-right: 10px;
  }

  .second a:hover{
    text-decoration: underline
  }

.display-a a{
  display: none;
  
}
.a-second{
  display: flex;
  justify-content: center;
}






  @media screen and (max-width :48rem) {
    .image-size{
      width: 200px;
      height: 65px;
      margin-bottom: 40px;
    }
    .input-area{
  
      width: 300px;
      height: 38px;
    }
    .btn{
      display: none;

    }
    .none-btn{
      display: inline;
    }
    .none-btn:hover{
      
      box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
      background-color: #f1efef;
    }
.first{
  padding-top: 30px;
  text-align: center;
  border-bottom: none;
}

.none-a{
  display: none;
}
.kr{
  display:inline;
  margin-left: 10px;
}
 
}